<div class="container">
<div class="row text-white mt-3">
        <div class="col-12">
            <h2>Canciones</h2>
            <div class="player-box">
                <p>Nombre de la cancion - Autor - Género - 2:00
                <i class="fas fa-play"></i>
                <i class="fas fa-trash"></i>
                </p>
            </div>
            <div class="player-box">
                <p>Nombre de la cancion - Autor - Género - 2:00
                <i class="fas fa-play"></i>
                <i class="fas fa-trash"></i>
                </p>
            </div>
            <div class="player-box">
                <p>Nombre de la cancion - Autor - Género - 2:00
                <i class="fas fa-play"></i>
                <i class="fas fa-trash"></i>
                </p>
            </div>
        </div>
    </div>
</div>
