<div class="d-flex justify-content-center mt-5">
<div class="card card-login col-4">
    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Iniciar sesión</h5>
        </div>
        <div class="modal-body d-flex justify-content-center">
            <form class="col-11 mt-2 mb-2 d-flex flex-column ">
                <div class="form-group">
                    <label for="emailLog" class="mb-0">Usuario</label>
                    <input type="email" class="form-control" id="emailLog" placeholder="username@correo.com">
                </div>
                <div class="form-group">
                    <label for="contrasenaLog" class="mb-0">Contraseña</label>
                    <input type="password" class="form-control form-control-login" id="contrasenaLog" placeholder="Contraseña">
                </div>

                <button type="submit" class="btn btn-primary btn-login align-self-center">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
</div>