.vida-musica{
    font-size: 25px;
    font-family: 'Calistoga';
}

.vida-musica:hover{
    font-size: 30px;
    transition: .4s;
}

.avisoRegistro{
    border-radius: 2px;
    text-align: center;
    color: rgb(187, 3, 43);
    font-weight: bold;
    background-color: black;
    margin-top: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  font-weight: bold;
}


.carousel-control-prev-icon{
  margin-right: 120%;
}

.carousel-control-next-icon
{
  margin-left: 120%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(219, 5, 51);
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(219, 5, 51);
}

.line{
    height: 4px;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 30px;
    background-color: rgb(219, 5, 51);
}