<div class="container">
    <div class="row">
        <div class="col mb-5">
            <h2 class="mb-3">Reproducir</h2>
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <audio src="" controls></audio>
            </div>
            <div class="col-12 d-flex flex-column align-items-center mt-2">
                <div class="song d-flex flex-wrap align-items-center justify-content-center">
                    <h5 class="mt-4 mb-2">
                        En reproducción
                    </h5>
                    <img class="img-song" src="../../../assets/img/imgEjemplo.jpg" alt="">
                    <p class="mt-2">Rag'n'Bone Man - Human</p>
                </div>
            </div>
        </div>
    </div>
</div>