<div class="card-cont">

    <div class="card card-bit">
        <div class="card-header">
            <h2>Actualizar mis datos</h2>
        </div>
        <div class="card-body">
            <form name="form" id="form">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="">
                        <!-- <img src="../../../assets/img/user-profile.png" alt="" *ngIf="!_usuarioService.usuario || _usuarioService.usuario.imagen==''" >
                        <img src="{{'data:image/jpg;base64,' + _usuarioService.usuario.imagen}}" *ngIf="_usuarioService.usuario && _usuarioService.usuario.imagen!=''" > -->
                        <img src="../../../assets/img/user-profile.png" alt="">
                    </div>
                    <div class="">
                        <label for="avatar" class="profileImg">Cargar imagen <i class="fas fa-camera"></i></label>
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                    </div>
                </div>
                <div class="form-group">
                    <label [ngClass]="{'text-view' : name !=''}">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre"
                    [(ngModel)]="name">
                </div>

                <div class="form-group">
                    <label [ngClass]="{'text-view' : age !=''}">Edad</label>
                    <input type="text" class="form-control" id="edad" name="edad" required placeholder="Edad"
                    [(ngModel)]="this.age">
                </div>

                <div class="form-group">
                    <label [ngClass]="{'text-view' : email !=''}">Correo</label>
                    <input type="email" class="form-control" id="correo" name="correo" required placeholder="Correo"
                    [(ngModel)]="this.email">
                </div>

                <div class="form-group">
                    <label [ngClass]="{'text-view' : password !=''}">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Contraseña"
                    [(ngModel)]="this.password">
                </div>
                <input type="submit" class="btn btn-secondary" value="Actualizar Datos">
            </form>
        </div>
    </div>
</div>

<!--


<button type="button">Actualizar datos</button>
</div>-->