<div class="card-cont">

    <div class="card card-bit">
        <div class="card-header">
            <h2>Actualizar mis datos</h2>
        </div>
        <div class="card-body">
            <form name="form" id="form" #updateForm="ngForm" (ngSubmit)="actualizarDatos()" ngNativeValidate>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div *ngIf="usuario && usuario.imagen && usuario.imagen != ''">
                        <img class="img-fluid rounded-circle" id="cargarImagen" src="{{url+'obtener-imagen-usuario/'+usuario.imagen}}"
                            alt="">
                    </div>
                    <div *ngIf="!usuario || !usuario.imagen || usuario.imagen == ''">
                        <img class="img-fluid rounded-circle" id="cargarImagen" src="../../../assets/img/user-profile.png"
                            alt="">
                    </div>
                    <div class="">
                        <label for="avatar" class="profileImg">Cargar imagen <i class="fas fa-camera"></i></label>
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)">
                        <!-- <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"><i class="fas fa-camera"></i> -->
                    </div>
                </div>
                <div class="form-group">
                    <label [ngClass]="{'text-view' : usuario.nombre !=''}">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre  (*)" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre" required>
                </div>

                <div class="form-group">
                    <label [ngClass]="{'text-view' : usuario.edad !=''}">Edad</label>
                    <input type="text" class="form-control" placeholder="Edad (*)" #edad="ngModel" name="edad" [(ngModel)]="usuario.edad" required>
                </div>

                <div class="form-group">
                    <label [ngClass]="{'text-view' : usuario.correo !=''}">Correo</label>
                    <input type="email" class="form-control" placeholder="Correo (*)" #correo="ngModel" name="correo" [(ngModel)]="usuario.correo" required>
                </div>

                <div class="form-group">
                    <label [ngClass]="{'text-view' : usuario.password !=''}">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña (*)" #password="ngModel" name="password" [(ngModel)]="usuario.password">
                </div>
                <input type="submit" class="btn btn-secondary" value="Actualizar Datos">
                <!-- Validación -->
                <div *ngIf="actualizacionCorrecta" class="alert alert-sucess">
                    {{actualizacionCorrecta}}
                </div>
            </form>
        </div>
    </div>
</div>

<!--


<button type="button">Actualizar datos</button>
</div>-->