<div class="container">
    <h2>Actualizar mis datos</h2>
    <div>
        <label>
            Nombre
        </label>
        <br>
        <input type="text">
    </div>

    <div>
        <label>
            Edad
        </label>
        <br>
        <input type="text">
    </div>

    <div>
        <label>
            Correo
        </label>
        <br>
        <input type="email">
    </div>

    <div>
        <label>
            Password
        </label>
        <br>
        <input type="password">
    </div>

    <div>
        <img src="../../../assets/img/user-profile.png" alt="">
    </div>

    <div>
        <label for="avatar">Seleccionar foto:</label>
        <br>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
    </div>

    <button type="button">Actualizar datos</button>
</div>