<footer>
    <div class="container">
        <div class="row pt-2 pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-12 col-md-6">
                <span>SÍGUENOS:</span><br>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-12 col-md-6">
                <span>Designed with ❤️ by Colibrí</span><br>
            </div>
        </div>
    </div>
</footer>
