<div class="container-pupup">
    <div class="info">
        <div class="title">
            Vuelvete premiun
        </div>
        <div class="body">
            <div>
                Sí quieres disfrutar de más funcionalidades, crear nuevas caciones, no lo dudes más
            </div>
            <div>
                Prueba hoy mismo la opción premium, GRATIS por un mes
            </div>
        </div>
        <div class="buttons">
            <button (click)="goPremium()">
                Aceptar
            </button>
            <button (click)="noPremium()">
                No, gracias
            </button>
        </div>
    </div>
</div>