<nav class="navbar">
  <div class="container">
      <div class="row">
          <div class="d-flex flex-wrap justify-content-around align-items-center">
          <div class="col-12 col-md-4">
              <a class="navbar-brand" href="#">Bit Music</a>
          </div>
          <div class="col-12 col-md-4 ml-auto">
              <button class="btn btn-primary btn-lg" type="button">Iniciar sesión</button>
          </div>
        </div>
        </div>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
