.total-width {
    width: 100%;
}

.container{
    padding-right: 0px;
}

p {
    font-size: 25px;
    color: white;
}

::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
    color: white;
}

.mini {
    display: none
}

@media screen and (max-width: 768px) {
    .mini {
        display: block;
    }
    .full {
        display: none;
    }
}

mark {
    background-color: black;
    color: white;
    padding: 0 15px;
}