.total-width{
    width: 100%;
}

.container{
    padding-right: 0px;
}

p {
    font-size: 25px;
    color: white;
}

::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
    color: white;
}