<div class="container">
    <div class="col-12 col-md-6 mt-3">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-tab visible" id="firstTab"
                (click)="asignarBoton('editarCanciones')" *ngIf="session?.role =='ROLE_ADMIN'"
                [ngClass]="{'btn-tab-active' : boton == 'editarCanciones'}">Crear
                Canciones</button>
            <button type="button" class="btn btn-primary btn-tab" (click)="asignarBoton('perfil')"
                [ngClass]="{'btn-tab-active' : boton == 'perfil'}">Mi Perfíl</button>
            <button type="button" class="btn btn-primary btn-tab" (click)="asignarBoton('buscar')"
                [ngClass]="{'btn-tab-active' : boton == 'buscar'}">Buscar
                Canciones</button>
        </div>
    </div>
    <div class="row">
        <div *ngIf="boton == 'editarCanciones'" class="col-12 col-md-6 ml-auto">
            <app-song-tools></app-song-tools>
        </div>
        <div *ngIf="boton == 'perfil'" class="col-12 col-md-6 ml-auto">
            <app-user-profile></app-user-profile>
        </div>
        <div *ngIf="boton == 'buscar'" class="col-12 col-md-6 ml-auto">
            <app-menu-song></app-menu-song>
        </div>
        <div class="col-12 col-md-6 ml-auto">
            <app-player></app-player>
        </div>
    </div>
</div>