<div class="container">
    <h2>Crear canción</h2>
    <form>
        <div class="form-group">
            <label>
                Título
            </label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Duración</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>
                Genero
            </label>
            <br>
            <input type="text">
        </div>

        <div class="form-group">
            <label>
                Artista
            </label>
            <br>
            <input type="text">
        </div>

        <button type="button">Crear canción</button>
    </form>
</div>